﻿@page
<div id="lobby">
    <div class="row">
        <div class="col-12">
            <h2>Lobbies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="lobbiesList"></ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input type="button" id="createLobbyButton" value="Create New Lobby" />
            </div>
        </div>
    </div>
</div>
<div id="duel">
    <div id="waitingBanner">
        <h2>Waiting for opponent</h2>
    </div>
    <div id="battleTitle">
        <h2>Battle</h2>
    </div>
    <h3 id="firstPlayerText"></h3>
    <h3 id="secondPlayerText"></h3>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/server.js"></script>